# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

# Ignore public assets.
/public/assets

# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore local vendor folder.
vendor

# Ignore database configuration.
/config/database.yml

# Ignore secret key base.
/config/secrets.yml.key

# Ignore environment variables.
/.env

# Ignore IDE and editor specific files.
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*.tmproj
*.tmproject
*.bak
*.bak.*
*~
*.sass-cache/
.sass-cache/
.cache/
.project
.DS_Store
Thumbs.db
